/****************************************************************
  Docking Boxes core CSS: YOU MUST NOT CHANGE OR OVERRIDE THESE 
*****************************************************************/
.dbx-clone {
	position:absolute;
	visibility:hidden;
	}
.dbx-clone, .dbx-clone .dbx-handle-cursor {
	cursor:move !important;
	}
.dbx-dummy {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	}
.dbx-group, .dbx-box, .dbx-handle {
	position:relative;
	display:block;
	}
/****************************************************************
  avoid padding, margins or borders on dbx-box, 
  to reduce visual discrepancies between it and the clone.  
  overall, dbx-box is best left as visually unstyled as possible 
*****************************************************************/
.dbx-box {
	position:relative;
	margin:0;
	padding:0;
	border:none;
	clear: both;
	z-index:1000;
	}
/****************************************************************
  otherwise, do what you like :) 
*****************************************************************/
/* group container(s) */
.dbx-group {}

/* handles */
.dbx-handle {
	z-index:1000;
}

/* handle cursors are in a class of their own
   so they only get applied if the script is supported */
.dbx-handle-cursor {
	cursor:move;
}

/* toggle images */
a.dbx-toggle, a.dbx-toggle:visited {
	display:block;
	width:18px;
	height:19px;
	overflow:hidden;
	position:absolute;
	background:none;
	top:6px;
	text-indent:-50px;
	text-decoration:none;
}
#sidebar1 a.dbx-toggle, a.dbx-toggle:visited {right:23px;}
#sidebar2 a.dbx-toggle, a.dbx-toggle:visited {right:9px;}

a.dbx-toggle-open, a.dbx-toggle-open:visited {
	background:none;
}
a.dbx-toggle-closed, a.dbx-toggle-closed:visited {
	background:none;
}
a.dbx-toggle-hilite-open, a.dbx-toggle-hilite-open:visited {
	background:none;
}
a.dbx-toggle-hilite-closed, a.dbx-toggle-hilite-closed:visited {
	background:none;
}

/* keyboard navigation tooltip */
.dbx-tooltip {
	display:block;
	position:absolute;
	margin:36px 0 0 125px;
	width:185px;
	border:1px solid #000;
	background:#ffd;
	color:#000;
	font:normal normal normal 0.85em tahoma, arial, sans-serif;
	padding:2px 4px 3px 5px;
	text-align:left;
}
* html .dbx-tooltip { width:176px; }

/* use CSS2 system colors in CSS2 browsers 
   but not safari, which doesn't support them */
*[class="dbx-tooltip"]:lang(en) {
	border-color:InfoText;
	background:InfoBackground;
	color:InfoText;
	font:small-caption;
	font-weight:normal;
	}
/* inner content area */	
#sidebar1 .dbx-content {
	position:relative;
	overflow: hidden;
	width:183px;
}
#sidebar2 .dbx-content {
	position:relative;
	overflow: hidden;
	width:165px;
}
/* toggle state of inner content area */
.dbx-box-closed .dbx-handle {}
.dbx-box-closed .dbx-content {
	display:block;
	height:0px;
	overflow:hidden;
}
.dbx-box-closed .dbx-content * {
	display:none !important;
}

/* additional clone styles
.dbx-clone {
	opacity:0.8;
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	filter:alpha(opacity=80);
} */