/*
+----------------------------------------------------------------+
|																 |
|	WordPress 2.1 Plugin: WP-PageNavi-mod 2.20					 |
|	Copyright (c) 2007 Lester "GaMerZ" Chan						 |
|																 |
|	File Written By:											 |
|	- Pasyuk Sergey, "Infocreek"								 |
|	- http://www.infovreek.com									 |
|																 |
|	File Information:											 |
|	- Page Navigation CSS Style									 |
|	- wp-content/plugins/pagenavi-mod/pagenavi-css.css			 |
|																 |
+----------------------------------------------------------------+
*/


.wp-pagenavi-mod {position:relative; width:287px; height:38px; background: url(images/page-nav.jpg) no-repeat; float:right; margin:20px;}
.wp-pagenavi-mod a, .wp-pagenavi-mod a:link, .wp-pagenavi-mod a:active {
	font-weight: bold;
	padding:0px 12px; 
	margin:10px 0px;
	text-decoration: none;
	border-left: 1px solid #afb4a9;
	color: #afb4a9;
	display:block;
	float:left;
}
.wp-pagenavi-mod a:hover {text-decoration: underline;}
.wp-pagenavi-mod span.pages {display:none;}
.wp-pagenavi-mod a.current {
	font-weight: bold;
	padding:0px 10px; 
	margin:10px 0px;
	text-decoration: none;
	border-left: 1px solid #afb4a9;
	color: #0a0a02;
}
.wp-pagenavi-mod a.current {color:#ca7a1d;}

.wp-pagenavi-mod span.extend {display:none;}
.wp-pagenavi-mod .first {display:none;}
.wp-pagenavi-mod .last {display:none;}
.wp-pagenavi-mod span.prev {display:block; float:left; width:46px; height:38px;}
.wp-pagenavi-mod span.prev a {border:none; line-height:34px; margin:0px; padding:0px; text-align:center; width:46px; text-decoration:none;}
.wp-pagenavi-mod span.next {display:block; float:right; width:46px; height:38px;}
.wp-pagenavi-mod span.next a {border:none; line-height:34px; margin:0px; padding:0px; text-align:center; width:46px; float:right; text-decoration:none;}

.wp-pagenavi-mod .page1 {border-left:none !important;}
.wp-pagenavi-mod .page2 {}
.wp-pagenavi-mod .page3 {}
.wp-pagenavi-mod .page4 {}
.wp-pagenavi-mod .page5 {}
