/*  
Theme Name: Jeans3c
Theme URI: http://www.infocreek.com/webdesign/jeans3c.html
Version: 1.0
Author: InfoCreek.com
Author URI: http://www.infocreek.com/

	http://www.infocreek.com/webdesign/jeans.html
         
	The CSS, XHTML and design is released under the Creative Common Attribution 3.0 License (http://creativecommons.org/licenses/by/3.0/), which means you can use and modify it for any purpose.  
 
By downloading our themes, you agree that you: 

       1)  Can not resell the theme
       2)  You may use and modify the theme but the footer link back to InfoCreek.com should be retained.
       3)  You may use the theme on personal or commercial projects as far as #2 above is met 


*/

* {margin:0px; padding:0px;}
body {background: url(images/content-bg.jpg) left top; font-size:12px; color:#afb4a9; font-family: Verdana, Arial, Helvetica, sans-serif;}

img {border: medium none;}
blockquote, .post pre {position:relative; margin: 5px 15px 5px 10px; padding:17px 0 0 18px; text-align: left; color:#d1cfb6; font-style:italic; background: url(images/blockquote-left-top.gif) left top;}
blockquote p, .post pre p {position:relative; padding:5px 20px 15px 10px; margin-top:-5px; background:#515C73 url(images/blockquote-right-bot.gif) right bottom;}
*:first-child+html blockquote p, *:first-child+html .post pre p{margin-top:-7px;}
blockquote blockquote {position:relative; padding: 0px; margin:0px; font-style:normal; font-size:11px; background:transparent none;}
blockquote blockquote p {padding:10px 30px 20px 20px;}
*:first-child+html blockquote, *:first-child+html .post pre {display:inline-block;}


a {text-decoration:none; color:#ca7a1d; border: 0px;}
a:hover {text-decoration:underline; border: 0px;}
a.u {text-decoration:underline; border: 0px;}
a.u:hover {text-decoration:none; border: 0px;}
a.n, a.n:hover {text-decoration:none; border: 0px;}
a:focus, a:active {outline: none;}

p {padding:7px 0;  line-height: 17px;}
.border {border:1px solid red;}
h1, h2, h3, h4 { font-family: Trebuchet MS;}
hr {border-left:0px solid #9ca697; border-right:0px solid #9ca697; border-top:1px dashed #9ca697; border-bottom:0px solid #9ca697; height: 1px;}

input {font-family: Verdana; color: #afb4a9; font-size: 11px;}
textarea {font-family: Verdana; color: #afb4a9; font-size: 11px;}
select {font-family: Verdana; color: #afb4a9; font-size: 11px;}

.right-bg {position:relative; width:100%; background: url(images/right-bg2.jpg) right top repeat-y; min-width:980px;}
.left-bg2 {position:relative; width:100%; background: url(images/left-bg-2.jpg) repeat-y;}
/* .right-grad {position:relative; width:100%; background: url(images/side-bg-grad.jpg) 100% 77px no-repeat;} */
/* .left-grad {position:relative; width:100%; background: url(images/side-bg-grad.jpg) -346px 77px no-repeat;} */
.left-bg1 {position:relative; width:100%; background: url(images/left-bg1.jpg) 40px 0px repeat-y;}
.foot-bg {position:relative; width:100%; background: url(images/foot-bg.gif) left bottom repeat-x;}
.top-bg {position:relative; width:100%; background: url(images/top-bg.jpg) 1px 0 repeat-x;}
#head {position:relative; width:100%; height:77px; background: url(images/top-left.gif) no-repeat;}
	.logo {position:absolute; left:4%; top:27px; width: 96%; z-index:9998}
	.logo h1 {font: italic 34px/120% Georgia; color:#ca7a1d;}
	.logo h1 a, .logo h1 a:hover {color:#ca7a1d; text-decoration:none;}
	.logo .title {display: inline-block; margin-top: -41px; max-width: 319px; width: 24%;}
	.logo .title img {width: 100%;}
	.logo .description {display: inline-block; margin-left: 5%; max-width: 938px; position: absolute; width: 45%;}
	.logo .description img {width: 100%;}
	.logo span {position: absolute;top: -200em}
	.searchbox {position:absolute; right:29px; top:36px; width:211px; height:28px; font-size:11px; color:#a7a093; z-index: 9999}
	.search-field {width:153px; height:28px; background: url(images/search-field.gif) 0 0px no-repeat; float:left;}
	#s {border:none; background:transparent; color:#fafae0; font-weight:bold; width:140px; margin:6px 0 0 5px; float:left;}
	.search-but input {border:none; background:transparent url(images/search-but.gif) center top no-repeat; width:56px; height:28px; float:right;}

#content {position:relative; width:100%; text-align:left;}
	#menu {position:relative; margin-left:350px; margin-right:23px; background: url(images/menu-bg.jpg) right bottom;}
		.menu-b {position:relative; background: url(images/menu-bot.jpg) right bottom repeat-x;}
		.menu-r {position:relative; background: url(images/menu-right.jpg) right bottom repeat-y;}
		.menu-l {position:relative; background: url(images/menu-left.jpg) left bottom repeat-y;}
		.menu-rbc {position:relative; background: url(images/menu-rbc.jpg) right bottom no-repeat;}
		.menu-lbc {position:relative; background: url(images/menu-lbc.gif) left bottom no-repeat; z-index:9999}
	#menu ul {list-style:none; margin:0px; padding:10px 12px 32px 50px; overflow:hidden;}
	#menu ul li {display:block; float:left; margin-right:35px; padding-left:24px; background: url(images/menu-marker.gif) 0 0 no-repeat;}
	#menu ul li.home {}
	* html #menu ul {overflow:visible; height:1%;}
	* html #menu ul li {display:inline;}
	#menu ul li a {color:#fafae0; font:bold 12px/18px Tahoma; text-transform:uppercase;}
#main {position:relative; float:left; width:100%;}
	.content {position:relative; margin:5px 386px 20px 96px;}
	
	.content h1 {font: 24px Trebuchet MS; color:#ca7a1d; letter-spacing:-1px; padding-left:98px;}
	.content h2 {font:bold 22px Trebuchet MS; color:#ca7a1d; padding:10px 0px 2px 20px;}
	.content h3 {font:bold 18px Trebuchet MS; color:#ca7a1d; padding:10px 0px 2px 20px;}
	.content h4 {font:bold 16px Trebuchet MS; color:#ca7a1d; padding:7px 0px 2px 15px;}
	.content h5 {font:bold 14px Trebuchet MS; color:#ca7a1d; padding:5px 0px 2px 10px;}
	.content h6 {font:bold 12px Verdana; color:#602600; padding:5px 0px 2px 0px;}
	.content h2.pagetitle {position:absolute !important; top:-44px; left:10px; width:222px; font-size:12px; border:1px; padding:5px;}
	.content h2.center {padding:25px 0; text-align:center;}
	.post {position:relative; padding:5px 14px 0px 0px;}
	.content .title {position:relative; padding-bottom:12px; background: url(images/hr-line.jpg) left bottom repeat-x;}
	* html .content .title {width:100%;}
		.title .date {position:absolute; left:-58px; top:0px; font:italic 12px/120% Georgia; padding:5px 22px 0 0; color:#fafae0; width:125px; height:38px; text-align:center; background: url(images/post-date-bg.jpg) no-repeat;}
		.title .meta {position:relative; margin:-2px 0 0 98px; font-size:11px; font-weight:bold; color:#958e71;}
		.title .meta a {color:#958e71; font-weight:bold;}
	.content h1 a, .content h1 a:hover {color:#ca7a1d; text-decoration:none;}
	.entry {position:relative; padding:4px 15px 10px 10px; clear:both; background: url(images/hr-line.jpg) left bottom repeat-x; overflow:hidden;}
	* html .entry {overflow:visible; height:1%;}
	.entry img {border:none; margin:3px 5px; max-width:99%;}
	.entry img.wp-smiley {border:none !important; margin:0px !important; max-width:99%;}
	.entry form {position:relative;}
	.entry input {border:1px solid #885A28; margin:3px; padding:2px; background-color:#716952; color:#FAFAE0;}
	.entry .cforms input {border:1px solid #885A28; margin:0px; padding:2px; background-color:#716952; color:#FAFAE0;}
	.postmetadata {position:relative; text-align:right; background: url(images/hr-line.jpg) left bottom repeat-x; padding:5px 20px 10px 20px;}
	.comm-star {background: url(images/marker-star.gif) 0px 1px no-repeat; padding-left:32px; margin-left:20px;}

.google {position:relative; text-align:center;}
.google iframe {margin:20px auto 0 auto;}


.content ul {position:relative; list-style:none; padding:5px 20px;}
.content ul li {display:block; padding:2px 0px 2px 20px; background: url(images/marker-star2.gif) 0px 4px no-repeat;}
.content ol {position:relative; padding: 5px 20px; list-style: decimal inside none;}
* html .content ol {display:inline-block;}
*:first-child+html .content ol {display:inline-block;}
.content ol li {background: url('images/marker-star2.gif') 0 4px no-repeat;padding:2px 0px 2px 20px;}
.pagenavi-bg {position:relative; float:right; display:table; height:38px; background: url(images/pagenav-bg.jpg) 0px 0px repeat-x; margin:20px;}
* html .pagenavi-bg {width:280px; white-space:nowrap;}
*:first-child+html .pagenavi-bg {white-space:nowrap;}
.pagenavi-r {position:relative; float:right; height:38px; background: url(images/pagenav-r.jpg) 100% 0px no-repeat;}
.pagenavi-l {position:relative; float:right; height:38px; background: url(images/pagenav-l.jpg) 0px 0px no-repeat; min-width:275px;}
.wp-pagenavi {position:relative; float:right; line-height:160%; padding:8px 5px;}
*:first-child+html .pagenavi-r, *:first-child+html .pagenavi-l, *:first-child+html .wp-pagenavi {float:left;}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active {
	font-weight: bold !important;
	padding:0px 5px !important; 
	text-decoration: none !important;
	color: #afb4a9 !important;
	background:transparent none !important;
	border-width:1px !important;
}
.wp-pagenavi a:hover {text-decoration: none !important; border: 1px solid #ca7a1d !important;}
.wp-pagenavi span {background:transparent none !important; color:#ffffff !important; padding:0px 8px !important; border:none !important}
.wp-pagenavi .current {
	font-weight: bold !important;
	padding:0px 5px !important; 
	text-decoration: none !important;
	border: 1px solid #ca7a1d !important;
	color:#ca7a1d !important;
	background:transparent none !important;
}


.postgrav {
        float: left;
        padding: 3px;
        margin-right: 5px;
        margin-left: 5px;
        background: #000;
}

#comments {position:relative; padding:5px 30px 10px 20px; margin-right:14px; background: url(images/hr-line.jpg) left bottom repeat-x;}
#comments h4 {padding-left:20px; color:#ca7a1d;}
.nocomments {padding-left:10px;}
	.message-box {position:relative; background:#232B38 url(images/comment-bg.jpg) left top repeat-y; padding:7px 0; margin-top:10px;}
	* html .message-box {width:100%;}
	.message-box .message-entry {position:relative; overflow:hidden; margin:0 7px; border:2px dotted #ffffff; padding:7px 10px 0px 10px; color:#C7D6D9;}
	* html .message-box .message-entry {height:1%; overflow:visible;}
	.message-box .message-by {font-size:11px; color:#ffffff; font-weight:bold; padding-left:10px;}
	.message-box .message-by a {color:#ffffff;}
	.message-box .message-time {font-size:11px; color:#C7D6D9; border-bottom:2px solid #C7D6D9; padding:0 0 1px 0; margin-right:70px;}
	.message-box .message-time a {color:#24D7FB;}
	.message-box .message-time span {color:#130b01; background-color:#C7D6D9; padding:0 30px 0px 10px;}
	.message-box .message-time span a {color:#130b01;}
	.message-box .gravatar-place {position:relative; float:right; margin:-32px -7px 2px 10px; background: url(images/avatar-place.jpg) left top no-repeat; width:70px; height:66px;}
	.message-box .message-lbc {position:absolute; left:-2px; bottom:0px; width:6px; height:15px; overflow:hidden; background: url(images/comment-lbc.gif) left bottom no-repeat;}
	.message-box .message-ltc {position:absolute; left:-2px; top:-2px; width:28px; height:11px; overflow:hidden; background: url(images/comment-ltc.gif) left top no-repeat;}
	
	.author_message-box {position:relative; background:#43474F url(images/comment-bg2.jpg) left top repeat-y; padding:7px 0; margin-top:10px;}
	* html .author_message-box {width:100%;}
	.author_message-box .message-entry {position:relative; overflow:hidden; margin:0 7px; border:2px dotted #ffffff; padding:7px 10px 0px 10px; color:#C7D6D9;}
	.author_message-box .message-by {color:#ffffff; font-size:11px; font-weight:bold; padding-left:10px;}
	.author_message-box .message-by a {color:#ffffff;}
	.author_message-box .message-time {color:#C7D6D9; border-bottom:2px solid #C7D6D9; font-size:11px; padding:0 0 1px 0; margin-right:70px;}
	.author_message-box .message-time a {color:#24D7FB;}
	.author_message-box .message-time span {color:#C7D6D9; background-color:#C7D6D9; padding:0 30px 0px 10px;}
	.author_message-box .message-time span a {color:#130b01;}
	.author_message-box .gravatar-place {position:relative; float:right; margin:-32px -7px 2px 10px; background: url(images/avatar2-place.jpg) left top no-repeat; width:70px; height:66px;}
	.author_message-box .message-lbc {position:absolute; left:-2px; bottom:0px; width:6px; height:18px; overflow:hidden; background: url(images/comment-lbc2.gif) left bottom no-repeat;}
	.author_message-box .message-ltc {position:absolute; left:-2px; top:-2px; width:25px; height:13px; overflow:hidden; background: url(images/comment-ltc2.gif) left top no-repeat;}
	
	* html .gravatar-place {margin:-35px -3px 2px 10px !important;}
	.gravatar-place img {margin:8px 0 0 11px; width:50px; height:50px;}
	.gravatar-place a {display:block; margin:8px 0 0 11px; width:50px; height:50px; overflow:hidden;}
	.gravatar-place a img {margin:0px; width:50px; height:50px;}
	.avatar, .gravatar {width:50px;}

#respond {position:relative; margin:0 14px 20px 0px; text-align:center}
#respond h4 {padding:5px 0px 10px 40px; color:#ca7a1d; background: url(images/hr-line.jpg) left bottom repeat-x; text-align:left;}
#respond div.form {position:relative; width:460px; margin: 0 auto; padding:10px 0;}
#respond div.form #commentform {position:relative; text-align:left;}
	.inputs {position:relative; width:220px; float:left;}
	.inputs b {color:#ca7a1d;}
		.input {position:relative; width:204px; height:28px; background: url(images/input.gif) 0 0px no-repeat; margin:1px 0}
		.input input {position:relative; background:transparent; border:none; width:190px; padding:2px; margin:5px 0 0 5px;}
	.message {position:relative; width:211px; float:right;}
	.message .input {position:relative; width:211px; height:113px; background: url(images/textarea.gif) left top no-repeat;}
	.message textarea {position:relative; margin:4px 0 0 5px; padding-right:6px; background: transparent none; border:none; width:202px; height:106px; overflow:auto;}
	* html .message textarea {width:196px; margin-top:3px;}
	*:first-child+html .message textarea {width:196px; margin-top:3px;}
	.submit {text-align:right; margin-top:6px;}
	* html .submit {margin-top:-5px;}
	*:first-child+html .submit {margin-top:-5px;}
	.submit input {border:none; background:transparent url(images/submit.gif) center top no-repeat; width:54px; height:29px;}
	


#sidebars {position:relative; width:386px; float:left; margin:5px 0 20px -386px;}
#sidebar1 {position:relative; width:205px; float:left;}
#sidebar1 .widget {margin:0px 0px 0px 10px; padding:5px 0 15px 0; width:183px; overflow:hidden;}
#sidebar1 h2 {position:relative; font:bold 13px/32px Tahoma; color:#cbc7c4; text-align:left; padding-left:12px; background:url(images/sidebar-title-bg2.jpg) left top no-repeat; height:32px; text-transform:uppercase;}
#sidebar2 {position:relative; width:181px; float:left;}
#sidebar2 .widget {margin:0px 0px 0px 10px; padding:5px 0 15px 0; width:165px; overflow:hidden;}
#sidebar2 h2 {position:relative; font:bold 13px/32px Tahoma; color:#cbc7c4; text-align:left; padding-left:12px; background:url(images/sidebar-title-bg.jpg) left top no-repeat; height:33px; text-transform:uppercase;}
#sidebars .w-block {position:relative;}
#sidebars a {color:#a7a093;}
#sidebars ul {display:inline-block; position:relative; list-style:none;}
#sidebars ul li {display:block; position:relative; color:#a7a093;}
* html #sidebars ul li {display:inline-block;}
#sidebars ul li a {color:#a7a093; padding:2px 0px 2px 16px; display:block; background: url(images/marker-star2.gif) 2px 4px no-repeat;}
#sidebars ul li.current-cat a {color:#a7a093; background: url(images/marker-star.gif) 0px 3px no-repeat; border-bottom:1px dashed #a7a093; border-top:1px dashed #a7a093;}
#sidebars ul li.current-cat ul li a {padding:2px 0px 2px 25px; background: url(images/marker-star2.gif) 12px 4px no-repeat;}
#sidebars ul li a:hover {color:#a7a093; background: url(images/marker-star.gif) 0px 3px no-repeat; text-decoration:underline;}
#sidebars p a {color:#a7a093; display:inline; background: none; padding:0px;}
#sidebars p a:hover {color:#a7a093; display:inline; background: none;}
#sidebars ul li ul {padding:0px 0 0px 0px; list-style:none;}
#sidebars ul li ul li {padding:0px;}
#sidebars ul li ul li a {padding:2px 0px 2px 25px; background: url(images/marker-star2.gif) 12px 4px no-repeat;}
#sidebars ul li ul li.current-cat a {padding:2px 0px 2px 25px; background: url(images/marker-star.gif) 10px 3px no-repeat;}
#sidebars ul li ul li a:hover {background: url(images/marker-star.gif) 10px 3px no-repeat;}

#sidebars .dbx-box-closed .dbx-content ul {display:none !important;}

.widget_categories, 
#calendar {background:url(images/star-title-left.gif) no-repeat;}

.widget_categories h2, 
#calendar h2 {color:#000000 !important; background:url(images/star-title-right.gif) right top no-repeat !important; padding:31px 0px 2px 50px !important; height:auto !important;}

.widget_categories a.dbx-toggle, .widget_categories a.dbx-toggle:visited, 
#calendar a.dbx-toggle, #calendar a.dbx-toggle:visited {top:36px !important; right:20px !important;}

#wp-calendar {width:100%; font-size:11px; font-family:Georgia; text-align:center;}
#wp-calendar th {font-size:11px; font-weight:bold; text-align:center; border-bottom:1px dashed #504e43; color:#cccbb2;}
#wp-calendar td {font-size:11px; text-align:center; border-bottom:1px dashed #504e43; color:#a7a093;}
#wp-calendar td a {display:block; color:#ca7a1d;}
#wp-calendar td a:hover {display:block; color:#ca7a1d; text-decoration:underline;}
#recentcomments li a {display:block !important; padding-left:16px !important;}
#recentcomments li a:hover {display:block !important; padding-left:16px !important;}
.textwidget iframe {position:relative; margin:0px;}

a:hover abbr {border:none;}


#footer {position:relative; width:100%; text-align:left; height:60px;}
.infocreek {position:absolute; top:-100px; left:18px; width:23px; height:82px; background:url(images/made-in-infocreek.jpg) no-repeat;}
.infocreek a {display:block; width:23px; height:82px; text-decoration:none; overflow:hidden;}
.infocreek a:hover {text-decoration:none;}
#footer a {color:#ca7a1d;}
.copy {position:relative; padding:18px 0px 0px 104px; font-size:11px; float:left; font-size:11px;}
.valid {position:relative; font-size:11px; float:right; padding:18px 20px 0 0;}

.ping-track {border:1px dashed #9ca697; position:relative; margin:10px 0px 5px 0px; padding:8px; clear:both;}


.up {text-transform:uppercase;}
.center {text-align:center;}
.l, .left {float:left;}
.r, .right {float:right;}
.textleft {text-align:left !important;}
.clear {clear:both;}

#login {margin:10px 10px 10px 120px; width:143px;}
#login h1.btmspace{
  color: white;
  font-family: Verdana, Serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  text-align: left;
}

.spoiler {
  padding-bottom: 3px;
}

#comment {
  word-wrap: break-word;
}

.ratingblock {
  clear: both;
}

/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

#useronline-5 h2,
#shoutbox h2 {
  background:url(images/sidebar-title-bg3.jpg) left top no-repeat;
  cursor: pointer;
}

#login-button {
  background: url(images/login-button.gif) center center no-repeat;
  display: block;
  float: right;
  height: 28px;
  margin: 5px 15px 0 0;
  width: 56px;
}

#chatoutput .name { cursor: pointer; }
#chatbarText { color:#000; }
.sbu { color: red !important; }

#toTop {
width:50px;
border:0px solid #cccccc;
text-align:center;
padding:5px;
position:fixed;
bottom: 50px;
left:27px;
cursor:pointer;
color:#666666;
text-decoration:none}
