/*
 * Admin styles
 * / 
/* Footer */
#footer-thankyou { display: none; }

/* Help button */
#contextual-help-link-wrap { background: #2786B2; }
#contextual-help-link { color: white !important; }

/* Platinum SEO pack */
#postpsp .inside > * { display: none; }
#postpsp .inside > table { display: block; }
#postpsp .inside > table tr th { text-align: right !important; }


/* Required */
.perevodman-required {
  position:absolute;
  color:red;
  margin-top:-13px;
}

/* Tuneups */
#wp-content-media-buttons * {
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}

/* Hidden comments */
#commentsdiv{
  display: none;
}

/* Mediafiles */
.media-item-info input { display: none;}
.slidetoggle.describe.startclosed tr.url { display: none;}
.slidetoggle.describe.startclosed tr.post_excerpt { display: none;}
.slidetoggle.describe.startclosed tr.post_content { display: none;}
.image-size-item { display :none;}
.image-size-item:last-child { display: block;}
#tab-gallery{ display: none !important; }
form.media-upload-form tr.image-size { display: none; }
