/*
 * Screen styles
 */ 


/* Collapssible widgets */
.w-block h2.collapsible {
  background: url(../../images/sidebar-title-bg3.jpg) left top no-repeat !important;
  cursor: pointer;
}

/* Widgets headers fix */
.widget_perevodman_recent_comments {
  white-space: nowrap;
}

/* Themed login */
#login {
//  margin: auto; // to center
  width: 200px;
}
#login input[type=text], #login input[type=password]{
  width: 200px
}

/* Hr */
hr {
  border: 1px solid #C7D6D9;
  height: 0px;
}

/* Post */
.entry {
  padding-bottom: 40px;
  padding-top: 20px;
}
blockquote p, .post pre p {
  padding:5px 20px 5px 10px;
}

/* Spoiler */
fieldset.spoiler {
  line-height: 17px;
}

/* Span (align, etc) */
.entry span {
  line-height: 17px;
}

/* Lists */
.entry li {
  line-height: 17px;
}


/* Comments */
.author_message-box .message-entry {
  color: white;
  background: #43474F;
}

.author_message-box {
  background: #232B38;
}

/*.comments > #comments blockquote > p:before
.comments > #comments div.quoted:before
{ 
  content: "> " 
}*/

/*.comments > #comments blockquote*/
.comments > #comments div.quoted
{
  margin: auto;
  padding: 0px;
  background: none;
  background: none;
  color: #828282;
}

.comment-toolbar{
  display: inline;
}

.comment-top{
  border-bottom: 2px solid #C7D6D9;
  overflow: auto;
}

.comment-top a{
  color: #E2A500;
}

.message-box .message-by, .author_message-box .message-by{
  display: inline-block;
  padding-left: 2px;
  float: left !important;
}

.message-box .message-time a, .author_message-box .message-time a {
  color: #E2A500;
}

.message-box .message-time span, .author_message-box .message-time span{
  background: none;
  padding-right: 0px;
  color: #828282;
}

.message-box .message-time, .author_message-box .message-time{
  
  display: inline-block;
  border-bottom: none;
  
}

.message-box .rank, .author_message-box .rank{
  font-size: 9px;
  font-weight: normal;
  color: #F56672;
}

.comment-edit-form {
  float: right;
}

.comment-edit-link {
  color: #fff;

}

.comment-edit-link strong{
  font-weight: normal;
  color: white;
}

.message-entry, p.quote-nick, .comments > #comments blockquote.quote-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.author_message-box .message-entry, .message-box .message-entry {
  padding-top: 15px;
  padding-bottom: 10px;
}
